*{
    margin: 0px;
    background-color: rgb(163, 136, 28);
}

.head{
    display: flex;
    justify-content: space-between;
    height: 200px;

}
.head img{
    width: 80px;
}
.right a{

    color: white;
  
    padding:10px;
    margin: 10px 10px;
    font-size: 15px;
    text-decoration: none;
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:2px solid ;
    width: 380px;
    height: 300px;
}
